#!/bin/sh

# Command shortcut
alias a='ag'
alias b='cd ../'
alias c='cd'
alias d='docker'
alias e='emacs'
alias f='nautilus &' # finder
alias g='git'
alias h='history'
alias i="ifconfig"
alias j='gwaei &' # dictionary jisho
alias k='mkdir -p'
alias l='LC_COLLATE=C ls -al --color=auto --human-readable --group-directories-first'
alias m='mocp' # music on console
# alias n='' # to use npm n module
alias o='xdg-open'
alias p='pet'
alias q='exit'
alias r='ranger' # finder
alias s='chromium-browser --app="https://google.com/"' # search
alias t='tasksh' # cui for task
alias u='du -hs' # directory size
alias v='vim' # nvim
alias w='w'
alias x='ex'
alias y='yes'
alias z='zsh'

# Others
alias copy='echo ${PWD} | xsel -b'

# Global aliases
alias -g G='| grep --color'
alias -g L='| less'
alias -g H='| head'
alias -g T='| tail'
alias -g P='| peco'

# Suffix aliases
alias -s rb='ruby'
alias -s py='python3'
alias -s go='go'
alias -s java='java'
alias -s js='node'
alias -s hs='ghci'
alias -s {png,jpg,bmp,PNG,JPG,BMP}='feh'
alias -s mp3='mplayer'
alias -s html='chromium-browser'
alias -s {gz,tgz,zip,lzh,bz2,tbz,Z,tar,arj,xz}='extract'
alias -s deb='sudo gdebi' # dpkg -i だと依存関係解決してくれないため

# permission
alias 644='chmod 644'
alias 755='chmod 755'
alias 777='chmod 777'

# typo
alias gl='g l'
alias gs='g s'
alias ll='l'

# Pet
alias pn='pet new'
alias pl='pet list'
alias pe='pet edit'
alias pp='pet exec' # pet peco

# color
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias less='less -R'
alias gitwatch='fswatch -0 . | xargs -0 -n 1 sh -c "clear && git status --short"' # to need to install fswatch

# sysctrl
alias reboot='reboot'
alias shutdown='reboot'
alias suspend='systemctl suspend'
alias lock='i3lock -c 000000'

# docker/docker-compose shortcuts
alias dc="docker-compose"
alias dps="docker ps" # -a
alias dim="docker images"
alias dvl="docker volume ls"

dbi() { docker build -t=$1 .; } # Dockerfile build, e.g., $dbu tcnksm/test
alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"

# docker removes
alias drmc='docker rm $(docker ps --all --quiet) -f'
alias drmi='docker rmi $(docker images --quiet) -f'
alias drmv='docker volume rm `docker volume ls -q -f dangling=true`'

# mac sshfs
# alias blogfs='sshfs blog: ~/mp/blog -oauto_cache,reconnect,defer_permissions,negative_vncache,noappledouble,volname=blog'
# alias kaishafs='sshfs kaisha: ~/mp/kaisha -oauto_cache,reconnect,defer_permissions,negative_vncache,noappledouble,volname=kaisha'

function extract() {
  case $1 in
    *.tar.gz|*.tgz) tar xzvf $1;;
    *.tar.xz) tar Jxvf $1;;
    *.zip) unzip $1;;
    *.lzh) lha e $1;;
    *.tar.bz2|*.tbz) tar xjvf $1;;
    *.tar.Z) tar zxvf $1;;
    *.gz) gzip -d $1;;
    *.bz2) bzip2 -dc $1;;
    *.Z) uncompress $1;;
    *.tar) tar xvf $1;;
    *.arj) unarj $1;;
  esac
}

