
# Command shortcut
alias a='ag'
alias b='cd ../'
alias c='cd'
alias d='docker'
alias e='grep'
alias f='find'
alias g='git'
alias h='history'
alias i="ifconfig"
alias j='gwaei &' # dictionary jisho
alias k='mkdir -p'
alias l='LC_COLLATE=C ls -al --color=auto --human-readable --group-directories-first'
alias m='mocp' # music on console
alias n='nautilus &'
alias o='xdg-open'
alias p='echo ${PWD} | xsel -b'
alias q='exit'
alias r='ranger' # finder
alias s='chromium-browser --app="https://google.com/"' # search
alias t='tasksh' # cui for task
alias u='du -hs' # directory size
alias v='vim' # nvim
alias w='w'
alias x='ex'
alias y='yes'
alias z='zsh'

# typo
alias gl='g l'
alias gs='g s'
alias ll='l'

# lang
alias py='python3'
alias go='go'
alias ja='java'
alias no='node'
alias hs='ghci'

# Pet
alias pe='pet'
alias pn='pet new'
alias pl='pet list'
alias pe='pet exec'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias less='less -R'
alias gitwatch='fswatch -0 . | xargs -0 -n 1 sh -c "clear && git status --short"' # to need to install fswatch

# Docker shortcut
alias dm='docker-machine'
alias de='eval $(docker-machine env default)'

alias drmc='docker rm $(docker ps --all --quiet) -f'
alias drmi='docker rmi $(docker images --quiet) -f'
alias drmv='docker volume rm `docker volume ls -q -f dangling=true`'

# mac sshfs
# alias blogfs='sshfs blog: ~/mp/blog -oauto_cache,reconnect,defer_permissions,negative_vncache,noappledouble,volname=blog'
# alias kaishafs='sshfs kaisha: ~/mp/kaisha -oauto_cache,reconnect,defer_permissions,negative_vncache,noappledouble,volname=kaisha'
