[user]
  name = mgoldchild
  email = mgoldchild@gmail.com
[diff]
  renames = true
[color]
  ui = auto
[alias]
  a = add # -all ., -p
  b = branch # -d, -D, -m, -v, -a, -r, -vv
  c = commit # merge commit, . --all, --amend
  d = diff # diff HEAD, diff, diff --cached
  e = diff --stat
  f = fetch --all
  g = merge
  h = push
  i = ls-files
  j = reset
  k = commit --amend
  l = log --graph --date=short --format='%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(red)%d%C(reset) %s %C(cyan)@%an%C(reset)'
  m = mv
  n = clone # reflog
  o = checkout
  p = grep -n
  q = clean -fd # --dry-run
  r = rm # --cached
  s = status --short
  t = revert -m 1
  u = pull
  v = mv
  w = show
  x = stash list
  y = stash save -u
  z = stash apply
# git stash clear
# git fetch --prune
#
# blame -L
[core]
  autoCRLF = false
  safecrlf = true
  excludesfile = ~/.gitignore
  editor = vim
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
  keepBackup = false
  keepTemporaries = false
[push]
  default = simple
[init]
    templatedir = ~/.git_template

