" Ctrl-CとCtrl-Vを通常のコピー＆ペーストとしてマッピングする
noremap <C-C> "+y
" Ctrl-Vを挿入モードでのみ通常のペーストとしてマッピングする
imap <C-V> <Esc>"+p
" Ctrl-Fを通常のファイル検索としてマッピングする
noremap <C-F> :action Find<CR>
" Ctrl-Nで検索のハイライトを消す
noremap <C-N> :nohlsearch<CR>
" 検索時に大文字小文字を区別しない
set ignorecase

