" snippets directory
let g:neosnippet#snippets_directory='~/.vim/bundle/neosnippet-snippets/snippets/'
let g:nodejs_complete_config = {
	\  'js_compl_fn': 'jscomplete#CompleteJS',
	\  'max_node_compl_len': 15
	\}
